apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}
type: Opaque
stringData:
  POSTGRES_USER: "{{ .Values.postgresql.global.postgresql.auth.username }}"
  POSTGRES_PASSWORD: "{{ .Values.postgresql.global.postgresql.auth.password }}"
  ADMINISTRATOR_USERNAME: "{{ .Values.app.administrator.username }}"
  ADMINISTRATOR_PASSWORD: "{{ .Values.app.administrator.password }}"
